* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --var: black;
}

body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#canvas {
    display: block;
    margin: auto;
    background-color: rgb(197, 197, 197);
}