* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* VARIABLES -- Change these settings. */
:root {
    --panelWidth: 500px;
    --panelBorderWidth: 25px;
    --panelTransition: transform .2s;
}

body {
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#canvas {
    /* z-index: 5; */
    display: block;
    margin: auto;
    /* background-color: rgb(197, 197, 197); */
}

/* PANEL OPEN/CLOSE BUTTON */
#panelToggle {
    position: fixed;
    transition: var(--panelTransition);
    border-radius: 50%;

    /* Position and Size */
    top: 20px;
    left: -15px;
    font-size: 22px;
    padding: 20px;  /* Controls the "hitbox" size */
}
#panelToggle:hover {
    color: orangered;
}

/* SIDEPANEL */
#sidepanel {
    color: white;
    text-align: left;
    position: fixed;
    left: calc(var(--panelBorderWidth) - var(--panelWidth));
    width: var(--panelWidth);
    transition: var(--panelTransition);
    overflow-y: scroll;
    height: 100vh;

    /* Text and spacing options */
    padding: 0px 30px 0 30px;
    line-height: 1.6rem;

    /* Colors */
    border-right: var(--panelBorderWidth) solid rgb(37, 37, 37);
    box-shadow: rgb(61, 61, 61) 6px 0px 0px;
    background-color: rgb(20, 20, 20);
}
/* hide scrollbar */
#sidepanel::-webkit-scrollbar {
    width: 0;
}
/* used by javascript to move the menu */
.openPanel {
    transform: translate(calc(var(--panelWidth) - var(--panelBorderWidth)));
}

/* PANEL COMPONENTS */
.panelHeader {
    text-align: center;
    margin-top: 35px;

    font-size: 1.6rem;
}
.panelText {
    margin-top: 10px;
}
.panelHR {
    margin-top: 15px;
    margin-bottom: 25px;

    border: 1px solid rgb(255, 255, 255);
    opacity: 40%;
}

/* PANEL LINKS */
.panelLink {
    text-align: left;
    color: orangered;

    margin-left: 30px;
    margin-bottom: 5px;

}
.panelLink>a {
    color: inherit;
    text-decoration: none;
}
.panelLink>a:hover {
    text-decoration: underline;
}

/* PANEL FOOTER -- NOTE: this will need to be adjusted depending on overflow */
#panelFooter {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0px;
    
    width: 300px;
    padding: 10px 0px 10px 0px;
    border-radius: 20px 20px 0 0;

    text-align: center;
    background-color: rgb(36, 36, 36);
}